<!-- module-management.component.html -->
<div class="main">
  <div class="main-wrapper">
    <div class="first-section">
      <div class="prof">
        <div class="header-section">
          <button class="add-button" (click)="openModal()">Ajouter un module</button>
        </div>
        <app-teacher-list></app-teacher-list>
      </div>
    </div>
  </div>
</div>

<!-- Modal pour créer un module -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close-button" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <app-teacher-create (teacherCreated)="onTeacherCreated()"></app-teacher-create>
    </div>
  </div>
</div>
